# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
*.sqlite
*.db
*.log

# Node / React
node_modules/
build/
dist/

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

#json parsing
exports
parser.py